img {
    width: 100%;
}

a {
    color: inherit;
}

.description img {
    width: 75%;
    border-radius: 10%;
}

p {
    margin: 2%;
}

.interactive-map {
    width: 100%;
    position: relative;
}

.map-point {
    aspect-ratio: 1 / 1;
    width: 2.5%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    background: red;
    border-radius: 20% 20% 20% 0;
    transform-origin: bottom left;
    transition: transform 1s, z-index 1s;
}

.opposite {
    border-radius: 20% 0 20% 20%;
    transform-origin: top right;
}

.map-point:hover, .map-point:active {
    transform: scale(10);
    z-index: 10;
}

.description {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 0.12vw;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.map-point:hover .description, .map-point:active .description{
    opacity: 1;
}

.bratislava {
    top: 58%;
    left: 7%;
}

.nitra {
    top: 53%;
    left: 23%;
}

.trnava {
    top: 50.7%;
    left: 14.7%;
}

.trencin {
    top: 34%;
    left: 22.2%;
}

.banska-bystrica {
    top: 39.5%;
    left: 41%;
}

.zilina {
    top: 26%;
    left: 32%;
}

.presov {
    top: 34%;
    left: 73.5%;
}

.kosice {
    top: 43%;
    left: 74%;
}