img {
    width: 100%;
}

strong {
    font-weight: bold;
    font-size: larger;
}

.description img {
    width: 75%;
    border-radius: 10%;
}

p {
    margin: 2%;
    font-size: 0.15vw;
    color: white;
}

.interactive-map {
    width: 100%;
    position: relative;
}

.map-point {
    aspect-ratio: 1 / 1;
    width: 2.5%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    background: red;
    border-radius: 20% 20% 20% 0;
    transform-origin: bottom left;
    transition: transform 1s, z-index 1s;
}

.opposite {
    border-radius: 20% 0 20% 20%;
    transform-origin: top right;
}

.map-point:hover {
    transform: scale(10);
    z-index: 10;
}

.description {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.map-point:hover .description{
    opacity: 1;
}

.bratislava {
    top: 64%;
    left: 7%;
}

.nitra {
    top: 59%;
    left: 21.5%;
}

.trnava {
    top: 58.3%;
    left: 13.8%;
}

.trencin {
    top: 39%;
    left: 20.2%;
}

.banska-bystrica {
    top: 43.5%;
    left: 39%;
}

.zilina {
    top: 27%;
    left: 32%;
}

.presov {
    top: 30%;
    left: 73.5%;
}

.kosice {
    top: 41%;
    left: 74.7%;
}