img {
    width: 200px;
    float: left;
    border-radius: 10%;
    box-shadow: 10px 5px 5px gray;
}

section p, img {
    margin: 0 2% 2% 2%;
}

section ul {
    list-style-position: inside;
    margin-top: 0;
}

.list p {
    margin: 0 2%;
}

.list {
    display: inline-block;
    width: 100%;
}

.quote {
    margin: 1%;
    float: right;
    font-size: larger;
    font-style: italic;
}

@media all and (max-width: 760px) {
    section p, img {
        margin: 0 3% 2% 3%;
    }
}

@media all and (max-width: 580px) {
    section p, img {
        margin: 0 4% 2% 4%;
    }
}