img {
    width: 200px;
    float: left;
    border-radius: 10%;
}

p, img {
    margin: 0 1% 1% 1%;
}

section article p {
    margin-bottom: 0;
}

section article ul {
    list-style-position: inside;
    margin-top: 0;
}