table {
    width: 100%;
    background: gray;
}

table thead {
    font-weight: bolder;
    background: rgb(66, 67, 71);
}

tbody tr:nth-child(even) {
    background: rgb(66, 67, 71);
}

table, th, td, tr {
    border: 1px solid white;
    text-align: center;
}

.table-scroll {
    overflow-x: auto;
}

.table-cell-lecture {
    background: green;
}

.table-cell-seminar {
    background: rgb(84, 83, 177);
}

.table-cell-tk {
    background: rgb(148, 59, 81);
}