@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.eot');
    src: url('fonts/Roboto.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto.woff2') format('woff2'),
         url('fonts/Roboto.woff') format('woff'),
         url('fonts/Roboto.ttf')  format('truetype'),
         url('fonts/Roboto.svg#svgFontName') format('svg');
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

nav {
    background-color: rgb(45, 57, 83);
    border: 1px solid black;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0%;
}

li {
    padding: 10px;
}

a {
    color: white
}

.content {
    max-width: 960px;
    margin: auto;
}